<main class="main" *ngIf="shopItem$ | async as item">
  <div class="main__container">
    <section class="shope-header">
      <div class="box">
        <section class="shope-header-img-aside">
          <div class="container"></div>
        </section>

        <section class="shope-header-slider">
          <div class="container">
            <div class="shope-header-slider__list">
              <img [src]="'http://localhost:8000' + item.main_image" />
            </div>
          </div>
        </section>

        <section class="shope-header-product">
          <div class="container">
            <section class="shope-header-product__container">
              <article class="shope-header-product__info-headline-price">
                <h3>{{ item.name }}</h3>
                <p>{{ item.price | currency }}</p>
              </article>

              <article class="shope-header-product__rating">
                <div class="shope-header-product__rating-stars">
                  <img src="./assets/icons/Stars_rating.svg" />
                </div>
              </article>

              <article class="shope-header-product__description">
                <p>
                  {{ item.description }}
                </p>
              </article>

              <article class="shope-header-product__quantity-number">
                <button
                  class="shope-header-product__button-add-to-cart"
                  (click)="addToCart(item)">
                  <span>ADD TO CART</span>
                </button>
              </article>

              <input
                min="1"
                [(ngModel)]="item.amount"
                type="number"
                value="1" />

              <article class="shope-header-product__social-list">
                <ul>
                  <li class="social-list__item">
                    <a href="#">
                      <mat-icon
                        class="social-list__icon"
                        svgIcon="like"></mat-icon>
                    </a>
                  </li>
                  <li class="social-list__item">
                    <span></span>
                  </li>

                  <li class="social-list__item">
                    <a href="#">
                      <mat-icon
                        class="social-list__icon"
                        svgIcon="email"></mat-icon>
                    </a>
                  </li>
                  <li class="social-list__item">
                    <a href="#">
                      <mat-icon
                        class="social-list__icon"
                        svgIcon="facebook"></mat-icon>
                    </a>
                  </li>
                  <li class="social-list__item">
                    <a href="#">
                      <mat-icon
                        class="social-list__icon"
                        svgIcon="instagram"></mat-icon>
                    </a>
                  </li>
                  <li class="social-list__item">
                    <a href="#">
                      <mat-icon
                        class="social-list__icon"
                        svgIcon="twitter"></mat-icon>
                    </a>
                  </li>
                </ul>
              </article>

              <article class="shope-header-product__object-information">
                <ul class="object-information__list">
                  <li class="object-information__link">
                    <p>SKU:</p>
                    <p class="object-information__number">12</p>
                  </li>
                  <li class="object-information__link">
                    <p>Categories:</p>
                    <a class="object-information__link-number" href="#"
                      >Fashion Style</a
                    >
                  </li>
                </ul>
              </article>
            </section>
          </div>
        </section>
      </div>
    </section>

    <section class="shoppe-body">
      <mat-tab-group
        class="shoppe-body__list"
        mat-align-tabs="start"
        animationDuration="0ms">
        <article class="shoppe-body__selction-line"></article>

        <mat-tab class="shoppe-body__item" label="Description">
          <p class="shoppe-body__item-paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
            placerat, augue a volutpat hendrerit, sapien tortor faucibus augue,
            a maximus elit ex vitae libero. Sed quis mauris eget arcu facilisis
            consequat sed eu felis. Nunc sed porta augue. Morbi porta tempor
            odio, in molestie diam bibendum sed.
          </p>

          <ul class="shoppe-body__item-list">
            <li>-Lorem ipsum</li>
            <li>-dolor sit amet, consectetur adipiscing elit</li>
            <li>-Sed ac ultrices elit</li>
            <li>-vitae luctus velit. Morbi in finibus</li>
          </ul>
        </mat-tab>

        <mat-tab class="shoppe-body__item" label="Aditional information">
          <table class="shoppe-body__table">
            <tr>
              <th class="shoppe-body__table-row-name" scope="row">Weight</th>
              <td class="shoppe-body__table-row-value">3 kg</td>
            </tr>
            <tr>
              <th class="shoppe-body__table-row-name" scope="row" scope="row">
                Dimensions
              </th>
              <td class="shoppe-body__table-row-value">1 × 1 × 1 cm</td>
            </tr>
            <tr>
              <th class="shoppe-body__table-row-name" scope="row" scope="row">
                Color
              </th>
              <td class="shoppe-body__table-row-value">Gold, Silver</td>
            </tr>
            <tr>
              <th class="shoppe-body__table-row-name" scope="row" scope="row">
                Material
              </th>
              <td class="shoppe-body__table-row-value">Gold, Silver</td>
            </tr>
            <tr>
              <th class="shoppe-body__table-row-name" scope="row" scope="row">
                All Materials used to building
              </th>
              <td class="shoppe-body__table-row-value">
                First Value, Second Value, Third Value
              </td>
            </tr>
          </table>
        </mat-tab>

        <mat-tab class="shoppe-body__item" label="Reviews(0)">
          <p class="shoppe-body__item-paragraph">Ізі хуйня</p>
        </mat-tab>
      </mat-tab-group>
    </section>

    <section class="shoppe-footer">
      <article class="shoppe-footer__title">
        <p>Similar Items</p>
      </article>

      <article
        class="shoppe-footer__item"
        *ngFor="let similarItem of (similarItems$ | async)?.results">
        <div class="shoppe-footer__goods-container">
          <a href="#" class="shoppe-footer__img">
            <img [src]="similarItem.main_image" />
          </a>
          <div class="shoppe-footer__overlay">
            <a class="shoppe-footer__overlay-text" href="#">SELECT OPTION</a>
          </div>
        </div>
        <div class="shoppe-footer__name">
          <a href="#">{{ similarItem.name }}</a>
        </div>
        <div class="shoppe-footer__price">
          <p>{{ similarItem.price }}</p>
        </div>
      </article>
    </section>
  </div>
</main>
