<main class="main" *ngIf="shopItem | async as item">
  <section class="shoppe-header">
    <section class="shoppe-header-slider">
      <div class="container">
        <div class="shoppe-header-slider__list">
          <owl-carousel-o
            [options]="customOptions"
            class="carousel__wrapper--visible">
            <ng-template carouselSlide>
              <img
                class="shoppe-header-slider__img"
                src="./assets/images/slider-earings.jpg" />
            </ng-template>
            <ng-template carouselSlide>
              <img
                class="shoppe-header-slider__img"
                src="./assets/images/slider-earings.jpg" />
            </ng-template>
            <ng-template carouselSlide>
              <img
                class="shoppe-header-slider__img"
                src="./assets/images/slider-earings.jpg" />
            </ng-template>
            <ng-template carouselSlide>
              <img
                class="shoppe-header-slider__img"
                src="./assets/images/slider-earings.jpg" />
            </ng-template>
            <ng-template carouselSlide>
              <img
                class="shoppe-header-slider__img"
                src="./assets/images/slider-earings.jpg" />
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
    </section>

    <section class="shoppe-header-product">
      <div class="container">
        <section class="shoppe-header-product__container">
          <article>
            <h3 class="shoppe-header-product__headline">{{ item.name }}</h3>
            <p class="shoppe-header-product__price">
              {{ item.price | currency }}
            </p>

            <div class="shoppe-header-product__rating-stars">
              <ng-container *ngFor="let rating of ratings; index as i">
                <ngx-material-rating
                  [color]="rating.color"
                  [disabled]="rating.disabled || false"
                  [dense]="rating.dense || false"
                  [readonly]="rating.readonly || false"
                  [(ngModel)]="ratings[i].value"
                  [max]="5">
                </ngx-material-rating>
              </ng-container>
            </div>

            <p class="shoppe-header-product__description">
              {{ item.description }}
            </p>

            <button class="shoppe-header-product__button-add-to-cart">
              <span>ADD TO CART</span>
            </button>
          </article>

          <article class="shoppe-header-product__social-media-icons-list">
            <ul>
              <li class="shoppe-header-product__social-media-item">
                <a href="#">
                  <mat-icon
                    class="shoppe-header-product__social-media-icon"
                    svgIcon="like"></mat-icon>
                </a>
              </li>
              <li class="shoppe-header-product__social-media-item">
                <span></span>
              </li>

              <li class="shoppe-header-product__social-media-item">
                <a href="#">
                  <mat-icon
                    class="shoppe-header-product__social-media-icon"
                    svgIcon="email"></mat-icon>
                </a>
              </li>
              <li class="shoppe-header-product__social-media-item">
                <a href="#">
                  <mat-icon
                    class="shoppe-header-product__social-media-icon"
                    svgIcon="facebook"></mat-icon>
                </a>
              </li>
              <li class="shoppe-header-product__social-media-item">
                <a href="#">
                  <mat-icon
                    class="shoppe-header-product__social-media-icon"
                    svgIcon="instagram"></mat-icon>
                </a>
              </li>
              <li class="shoppe-header-product__social-media-item">
                <a href="#">
                  <mat-icon
                    class="shoppe-header-product__social-media-icon"
                    svgIcon="twitter"></mat-icon>
                </a>
              </li>
            </ul>
          </article>

          <article class="shoppe-header-product__object-information">
            <ul class="shoppe-header-product__object-information-list">
              <li class="shoppe-header-product__object-information-item">
                <p class="shoppe-header-product__object-information-text">
                  SKU:
                </p>
                <a
                  class="shoppe-header-product__object-information-link-number"
                  href="#"
                  >12</a
                >
              </li>
              <li class="shoppe-header-product__object-information-item">
                <p class="shoppe-header-product__object-information-text">
                  Categories:
                </p>
                <a
                  class="shoppe-header-product__object-information-link-number"
                  href="#"
                  >Fashion Style</a
                >
              </li>
            </ul>
          </article>
        </section>
      </div>
    </section>
  </section>

  <section class="shoppe-body">
    <div class="container">
      <mat-tab-group
        class="shoppe-body__list"
        mat-align-tabs="start"
        animationDuration="0ms">
        <article class="shoppe-body__section-line"></article>

        <article class="mat-tab-group-wrapper">
          <mat-tab class="shoppe-body__item" label="Description">
            <p class="shoppe-body__item-paragraph">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
              placerat, augue a volutpat hendrerit, sapien tortor faucibus
              augue, a maximus elit ex vitae libero. Sed quis mauris eget arcu
              facilisis consequat sed eu felis. Nunc sed porta augue. Morbi
              porta tempor odio, in molestie diam bibendum sed.
            </p>
            <ul class="shoppe-body__item-list">
              <li>-Lorem ipsum</li>
              <li>-dolor sit amet, consectetur adipiscing elit</li>
              <li>-Sed ac ultrices elit</li>
              <li>-vitae luctus velit. Morbi in finibus</li>
            </ul>
          </mat-tab>
        </article>

        <article class="mat-tab-group-wrapper">
          <mat-tab class="shoppe-body__item" label="Aditional information">
            <table class="shoppe-body__table">
              <tr>
                <th class="shoppe-body__table-row-name" scope="row">Weight</th>
                <td class="shoppe-body__table-row-value">3 kg</td>
              </tr>
              <tr>
                <th class="shoppe-body__table-row-name" scope="row" scope="row">
                  Dimensions
                </th>
                <td class="shoppe-body__table-row-value">1 × 1 × 1 cm</td>
              </tr>
              <tr>
                <th class="shoppe-body__table-row-name" scope="row" scope="row">
                  Color
                </th>
                <td class="shoppe-body__table-row-value">Gold, Silver</td>
              </tr>
              <tr>
                <th class="shoppe-body__table-row-name" scope="row" scope="row">
                  Material
                </th>
                <td class="shoppe-body__table-row-value">Gold, Silver</td>
              </tr>
              <tr>
                <th class="shoppe-body__table-row-name" scope="row" scope="row">
                  All Materials used to building
                </th>
                <td class="shoppe-body__table-row-value">
                  First Value, Second Value, Third Value
                </td>
              </tr>
            </table>
          </mat-tab>
        </article>

        <article class="mat-tab-group-wrapper">
          <mat-tab class="shoppe-body__item" label="Reviews(0)">

            <div class="shoppe-body__item-dosent-message-reviews-container">
              <p class="shoppe-body__item-heading">Reviews</p>
              <p class="shoppe-body__item-message">
                <span class="shoppe-body__item-message-icon"
                  ><img src="./assets/icons/alert-square.svg" />
                </span>
                There are no reviews yet.
              </p>
            </div>

            <p class="shoppe-body__item-heading">
              2 Reviews for lira earings
            </p>
            <div class="shoppe-body__item-message-reviews-container">

              <p class="shoppe-body__item-message-name">
                Scarlet withch<span>6 May, 2020</span>
              </p>
              <div class="shoppe-body__item-message-rating-stars">
                <ng-container *ngFor="let rating of ratings; index as i">
                  <ngx-material-rating
                    [color]="rating.color"
                    [disabled]="rating.disabled || false"
                    [dense]="rating.dense || false"
                    [readonly]="rating.readonly || false"
                    [(ngModel)]="ratings[i].value"
                    [max]="5">
                  </ngx-material-rating>
                </ng-container>
              </div>
              <p class="shoppe-body__item-message-comment">
                Contrary to popular belief, Lorem Ipsum is not simply random
                text. It has roots in a piece of classical Latin literature from
                45 BC, making it over 2000 years old. Richard McClintock, a
                Latin professor at Hampden-Sydney College in Virginia, looked up
                one of the more obscure Latin words, consectetur, from a Lorem
                Ipsum passage, and going through the cites of the word in
                classical literature, discovered the undoubtable source.
              </p>
              <div class="shoppe-body__item-message-line"></div>
            </div>

            <div class="shoppe-body__item-message-reviews-container">
              <p class="shoppe-body__item-message-name">
                Sasha Pozden<span>15 May, 1990</span>
              </p>
              <div class="shoppe-body__item-message-rating-stars">
                <ng-container *ngFor="let rating of ratings; index as i">
                  <ngx-material-rating
                    [color]="rating.color"
                    [disabled]="rating.disabled || false"
                    [dense]="rating.dense || false"
                    [readonly]="rating.readonly || false"
                    [(ngModel)]="ratings[i].value"
                    [max]="5">
                  </ngx-material-rating>
                </ng-container>
              </div>
              <p class="shoppe-body__item-message-comment">
                I have beautiful avatars on my telegram.
              </p>
              <div class="shoppe-body__item-message-line"></div>
            </div>

          </mat-tab>
        </article>
      </mat-tab-group>
    </div>
  </section>

  <section class="shoppe-footer">
    <div class="container">
      <article class="shoppe-footer__title">
        <p>Similar Items</p>
      </article>

      <article class="shoppe-footer__column-goods">
        <article class="shoppe-footer__item">
          <div class="shoppe-footer__good-container">
            <div class="shoppe-footer__good-hover-container">
              <a href="#" class="shoppe-footer__img">
                <img src="./assets/images/similar-items-1.jpg" />
              </a>
              <div class="shoppe-footer__overlay">
                <a class="shoppe-footer__overlay-text" href="#"
                  >SELECT OPTION</a
                >
              </div>
            </div>
          </div>
          <div class="shoppe-footer__name">
            <a href="#">Ollie Earrings</a>
          </div>
          <div class="shoppe-footer__price">
            <p>$ 30,00</p>
          </div>
        </article>

        <article class="shoppe-footer__item">
          <div class="shoppe-footer__good-container">
            <div class="shoppe-footer__good-hover-container">
              <a href="#" class="shoppe-footer__img">
                <img src="./assets/images/similar-items-2.jpg" />
              </a>
              <div class="shoppe-footer__overlay">
                <a class="shoppe-footer__overlay-text" href="#"
                  >SELECT OPTION</a
                >
              </div>
            </div>
          </div>
          <div class="shoppe-footer__name">
            <a href="#">Hal Earrings</a>
          </div>
          <div class="shoppe-footer__price">
            <p>$ 25,00</p>
          </div>
        </article>

        <article class="shoppe-footer__item">
          <div class="shoppe-footer__good-container">
            <div class="shoppe-footer__good-hover-container">
              <a href="#" class="shoppe-footer__img">
                <img src="./assets/images/similar-items-3.jpg" />
              </a>
              <div class="shoppe-footer__overlay">
                <a class="shoppe-footer__overlay-text" href="#"
                  >SELECT OPTION</a
                >
              </div>
            </div>
          </div>
          <div class="shoppe-footer__name">
            <a href="#">Kaede Hair Pin Set Of 3</a>
          </div>
          <div class="shoppe-footer__price">
            <p>$ 30,00</p>
          </div>
        </article>
      </article>
    </div>
  </section>
</main>
