.main {
  font-family: 'DM Sans', sans-serif;
  padding-top: 130px;
}
.container {
  max-width: 1248px;
}

.shoppe-header {
  display: flex;
  justify-content: space-between;
}
.shoppe-header-slider {
  max-width: 540px;
  display: block;

  width: 100%;
  height: 100%;

  &__list {
  }
  &__img {
    display: flex;
    flex-basis: 540px;
  }
}

.shoppe-header-product {
  display: flex;
  flex-direction: column;

  &__container {
    min-width: 486px;
    margin-right: 96px;
  }

  &__headline {
    font-weight: 400;
    font-size: 26px;
    margin-bottom: 23px;
  }

  &__price {
    font-weight: 500;
    font-size: 20px;
    color: #a18a68;
    margin-bottom: 64px;
  }

  &__rating-stars {
    margin-bottom: 22px;
  }

  &__description {
    max-width: 484px;
    font-size: 16px;
    color: #707070;
    margin-bottom: 50px;
  }

  &__button-add-to-cart {
    width: 360px;
    height: 53px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 80px;
  }
  &__button-add-to-cart span {
    font-weight: 700;
    font-size: 16px;
  }
  &__button-add-to-cart:hover {
    background: #000000;
    color: #ffffff;
  }
  &__button-add-to-cart:active {
    cursor: not-allowed;
  }

  &__social-media-icons-list ul {
    display: flex;
    margin-bottom: 37px;
  }
  &__social-media-item {
    justify-content: center;
  }
  &__social-media-item span {
    height: 19.5px;
    border: 1px solid #d8d8d8;
    margin-right: 39px;
  }

  &__social-media-icon {
    width: 18px;
    height: 18px;
    color: #707070;
    margin-right: 24px;
  }
  &__social-media-icon:hover {
    color: #a18a68;
  }

  &__object-information {
    font-size: 16px;
  }

  &__object-information-list {
    font-weight: 400;
    font-size: 16px;
  }

  &__object-information-item {
    display: flex;
  }

  &__object-information-text {
    margin-right: 16px;
  }

  &__object-information-link-number {
    color: #707070;
  }
}

/*shoppe-header__top*/

/*shoppe-body*/

.shoppe-body {
  margin-top: 100px;
  &__list {
    display: flex;
    text-align: start;
  }

  &__item {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    min-width: 193px;
    color: #707070;
  }
  &__link:hover {
    padding-bottom: 39px;
    border-bottom: 1px solid #000000;
  }

  &__selction-line {
    margin-top: 18px;
    margin-bottom: 60px;

    min-width: 1248px;
    border: 1px solid #d8d8d8;
  }

  &__item-paragraph {
    max-width: 1248px;
    margin-top: 60px;
    font-weight: 400;
    font-size: 16px;
    color: #707070;
  }

  &__item-list {
    padding-top: 10px;
    font-weight: 400;
    font-size: 16px;
    color: #707070;
  }

  &__table {
    margin-top: 60px;
    font-weight: 400;
    font-size: 16px;
  }

  &__table-row-name {
    text-align: start;
    padding: 10px;
    color: #000000;
    max-width: 180px;
    font-weight: normal;
  }

  &__table-row-value {
    text-align: start;
    padding: 10px;
    color: #707070;
  }
}

/*shoppe-footer*/

.shoppe-footer {
  margin-top: 100px;
  margin-bottom: 270px;
  &__title {
    font-weight: 400;
    font-size: 26px;
    margin-bottom: 47px;
  }

  &__column-goods {
    display: flex;
    justify-content: space-between;
  }

  &__item {
  }

  &__good-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 24px;
  }
  &__good-container:hover &__overlay {
    opacity: 1;
  }

  &__good-hover-container {
    display: block;
    width: 100%;
    height: auto;
    transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
  }
  &__good-hover-container:hover {
    transform: scale(1.03);
    -o-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -webkit-transform: scale(1.03);
  }

  &__overlay {
    position: absolute;
    bottom: 0;
    background: rgba($color: #efefef, $alpha: 0.9);
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 800;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
  }

  &__overlay:hover {
    background: rgba($color: #f9f9f9, $alpha: 0.8);
  }

  &__name {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 16px;
  }
  &__name:hover {
    color: #a18a68;
  }

  &__price {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #a18a68;
  }
}

.shoppe-body__list {
  display: flexl;
  flex-grow: 0;
}
