.main {
  max-width: 1248px;
  margin: 0 auto;
  margin-bottom: 270px;
}
.shoppe-header {
  display: flex;
  justify-content: space-between;
  padding-top: 130px;
  margin-bottom: 100px;
}

.shoppe-header-slider {
  display: block;
  max-width: 540px;
  width: 100%;
  height: 100%;
  padding: 0 30px;
}

@media (max-width: 768px) {
  .main {
    padding: 0 16px; /* Adjust padding as needed */
  }

  .shoppe-header-slider {
    max-width: 440px; /* Allow the carousel to take up the full width of the container */
    padding: 0; /* Remove padding on smaller screens */
  }
}

.shoppe-header-product {
  display: flex;
  flex-direction: column;
  padding: 0 30px;

  &__container {
    flex-basis: 486px;
  }

  &__headline {
    font-weight: 400;
    font-size: 26px;
    margin-bottom: 23px;
  }

  &__price {
    font-weight: 500;
    font-size: 20px;
    color: #a18a68;
    margin-bottom: 64px;
  }

  &__rating-stars {
    margin-left: -14px;
    margin-bottom: 22px;
  }

  &__description {
    max-width: 484px;
    font-size: 16px;
    color: #707070;
    margin-bottom: 50px;
  }

  &__button-add-to-cart {
    width: 360px;
    height: 53px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 80px;
  }
  &__button-add-to-cart span {
    font-weight: 700;
    font-size: 16px;
  }
  &__button-add-to-cart:hover {
    background: #000000;
    color: #ffffff;
  }
  &__button-add-to-cart:active {
    cursor: not-allowed;
  }

  &__social-media-icons-list ul {
    display: flex;
    margin-bottom: 37px;
  }
  &__social-media-item {
    justify-content: center;
  }
  &__social-media-item span {
    height: 19.5px;
    border: 1px solid #d8d8d8;
    margin-right: 39px;
  }

  &__social-media-icon {
    width: 18px;
    height: 18px;
    color: #707070;
    margin-right: 24px;
  }
  &__social-media-icon:hover {
    color: #a18a68;
  }

  &__object-information-item {
    display: flex;
  }

  &__object-information-text {
    margin-right: 16px;
  }

  &__object-information-link-number {
    color: #707070;
  }
}

.shoppe-body {
  margin-bottom: 100px;

  &__list {
    display: flex;
  }

  &__item {
    font-size: 20px;
    line-height: 26px;
    min-width: 193px;
    color: #707070;
  }
  &__item-paragraph {
    margin-top: 60px;
    color: #707070;
  }

  &__item-heading {
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 400;
  }

  &__item-message {
    background-color: #efefef;
    border-top: 2px solid #a18a68;
    padding: 0.95rem 0.95rem;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  &__item-dosent-message-reviews-container {
    max-width: 400px;
  }

  &__item-message-icon {
    display: flex;
    align-items: center;
    margin-right: 15px;
  }

  &__item-list {
    padding-top: 10px;
    color: #707070;
  }



  &__item-message-reviews-container {
    max-width: 580px;
  }

  &__item-message-name {
    padding-top: 24px;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 16px;
  }
  &__item-message-name span {
    padding-left:16px;

    font-weight: 400;
    font-size: 14px;
    color: #707070;
  }

  &__item-message-rating-stars {
    margin-left: -14px;
    margin-bottom: 10px;
  }

  &__item-message-comment {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #707070;
    max-width: 520px;
    margin-bottom: 40px;

  }

  &__item-message-line {
    border: 1px solid #D8D8D8;
  }



  &__table {
    margin-top: 60px;
  }

  &__table-row-name {
    text-align: start;
    padding: 10px;
    color: #000000;
    max-width: 180px;
    font-weight: normal;
  }

  &__table-row-value {
    text-align: start;
    padding: 10px;
    color: #707070;
  }
}

.shoppe-footer {
  &__title {
    font-size: 26px;
    margin-bottom: 47px;
  }

  &__column-goods {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    flex: 0 1 33.333%;
    padding-right: 92px;
    padding-bottom: 92px;
  }

  &__item:last-child {
    padding-bottom: 0;
  }

  .shoppe-footer__img {
    max-width: 100%; /* Use max-width instead of width */
    height: auto;
    object-fit: contain; /* Maintain aspect ratio and fit within the container */
    max-height: 200px; /* Set a maximum height for the images */
  }

  /* Media query for screens with a maximum width of 768px */
  @media (max-width: 768px) {
    .shoppe-footer__img {
      max-height: 150px; /* Update the maximum height for smaller screens */
    }
  }

  &__good-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 24px;
  }
  &__good-container:hover &__overlay {
    opacity: 1;
  }

  &__good-hover-container {
    display: block;
    width: 100%;
    height: auto;
    transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
  }
  &__good-hover-container:hover {
    transform: scale(1.03);
    -o-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -webkit-transform: scale(1.03);
  }

  &__overlay {
    position: absolute;
    bottom: 0;
    background: rgba($color: #efefef, $alpha: 0.9);
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 800;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
  }

  &__overlay:hover {
    background: rgba($color: #f9f9f9, $alpha: 0.8);
  }

  &__name {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 16px;
  }
  &__name:hover {
    color: #a18a68;
  }

  &__price {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #a18a68;
  }
}
