@import '../../../../../styles/_variables';

.form {
  &__field {
    width: 100%;
    ::ng-deep
      .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea)
      .mat-mdc-form-field-infix {
      padding-bottom: 0;
    }
  }
  &__icon-wrapper:hover &__icon {
    color: $primary-color;
  }
  &__slider {
    display: block;
  }
  &__price{
    color: $secondary-color;
    margin-bottom: 1rem;
  }
  &__toggle {
    display: block;
  }
}
