<header>
  <nav class="nav">
    <div>
      <a routerLink="/shop">
        <img src="./assets/icons/logo.svg" alt="Company logo" />
      </a>
    </div>

    <div class="menu">
      <ul class="menu__list menu__list--text">
        <li class="menu__item" routerLinkActive="menu__item--active">
          <a routerLink="/shop">Shop</a>
        </li>
        <li class="menu__item" routerLinkActive="menu__item--active">
          <a routerLink="/story">Our Story</a>
        </li>
        <li class="menu__item" routerLinkActive="menu__item--active">
          <a routerLink="/blog">Blog</a>
        </li>
      </ul>
      <span class="menu__separator"></span>
      <ul class="menu__list menu__list--icons">
        <li class="menu__item" routerLinkActive="menu__item--active">
          <mat-icon>search</mat-icon>
        </li>
        <li class="menu__item" routerLinkActive="menu__item--active">
          <a routerLink="/cart"><mat-icon>shopping_cart</mat-icon></a>
        </li>
        <li class="menu__item" routerLinkActive="menu__item--active">
          <a routerLink="/my-profile"><mat-icon>person</mat-icon></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
