asgiref==3.6.0
attrs==22.2.0
Django==4.2
django-cors-headers==3.14.0
django-debug-toolbar==4.0.0
django-filter==23.1
django-storages==1.13.2
djangorestframework==3.14.0
drf-spectacular==0.26.1
drfpasswordless==1.5.8
inflection==0.5.1
joblib==1.2.0
jsonschema==4.17.3
numpy==1.24.2
Pillow==9.5.0
pyrsistent==0.19.3
pytz==2023.3
PyYAML==6.0
random_username @ git+https://github.com/OleksandrPozden/random_username.git@43cc9989192d88e132799084b0a768796c58d603
scikit-learn==1.2.2
scipy==1.10.1
sqlparse==0.4.3
threadpoolctl==3.1.0
uritemplate==4.1.1
