<footer>
  <div class="wrapper">
    <div class="wrapper__widget widget">
      <div class="widget__navigation navigation">
        <ul class="navigation__list">

          <li class="navigation__item">
            <a routerLink="/contact">CONTACT</a>
          </li>
          <li class="navigation__item">
            <a routerLink="/terms">TERMS OF SERVICES</a>
          </li>
          <li class="navigation__item">
            <a routerLink="/returns">SHIPPING AND RETURNS</a>
          </li>
        </ul>
      </div>

      <p class="widget__text">
        © 2021 Shelly. <a routerLink="/terms">Terms of use</a> and
        <a routerLink="/policy">privacy policy</a>.
      </p>
    </div>
    <div class="wrapper__info info">
      <form class="info__form form">
        <mat-form-field class='form__field'>
          <input matInput placeholder="Give an email, get the newsletter." />
        </mat-form-field>
      </form>
      <ul class="info__social social">
        <li class="social__link">
          <a href="">
            <mat-icon class="social__icon" svgIcon="facebook"></mat-icon>
          </a>
        </li>
        <li class="social__link">
          <a href="">
            <mat-icon class="social__icon" svgIcon="instagram"></mat-icon>
          </a>
        </li>
        <li class="social__link">
          <a href="">
            <mat-icon class="social__icon" svgIcon="linkedin"></mat-icon>
          </a>
        </li>
        <li class="social__link">
          <a href="">
            <mat-icon class="social__icon" svgIcon="twitter"></mat-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
