<form class="form" [formGroup]="customForm" #formDirective="ngForm" (ngSubmit)="onSubmit()">
  <mat-form-field
    class="form__field"
    [ngClass]="name === 'email' ? 'form__field--long' : 'form__field--short'"
  >
    <input
      class="form__input"
      matInput
      [type]="name"
      [placeholder]="placeholder"
      formControlName="{{ name }}"
    />
    <mat-error *ngIf="field?.invalid && (field?.dirty || field?.touched)">{{
        field?.errors?.['required'] ? 'This field must not be empty' : placeholder + ' is not valid'
    }}</mat-error>
  </mat-form-field>
  <button
    class="form__button"
    [ngClass]="name === 'email' ? 'form__button--long' : 'form__button--short'"
    type="submit"
    mat-raised-button
    [disabled]="!customForm.valid"
  >
    {{ formAction }}
  </button>
</form>
