/* You can add global styles to this file, and also import other style files */
@import 'styles/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  letter-spacing: normal;
  background: $white-color;
  font-family: 'DM Sans', 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
