.main {
}
.shope-header {
}
.box {
    display: flex;
    justify-content:space-between;
    padding-top: 130px;
    font-family: 'DM Sans', sans-serif;
}
.container{
      max-width: 1248px;

}

.shope-header-slider {

    &__list {
      display: flex;

    }
}

.shope-header-product {
		&__container {
            min-width: 486px;
            padding: 0px 96px 0px 62px;
		}

		&__info-headline-price h3 {
            font-weight: 400;
            font-size: 26px;
            line-height: 35px;
            padding-bottom: 23px;
		}
        &__info-headline-price p{
            font-weight: 500;
            font-size: 20px;
            line-height: 26px;
            color: #A18A68;
        }

		&__rating {
            padding-top: 64px;
            line-height: 27px;      
		}

            &__rating-stars {
                  display: flex;
                  flex-wrap: wrap;
            }
            &__rating-stars span{
                  color: #707070;
                  font-weight: 400;   
                  font-size: 16px;
                  padding-left: 14px;
            }

           /* ::ng-deep label.star {
                  padding: 0 5px ;
                  font-size: 20px ;
                  color:rgb(194, 194, 194);
                  
                  &::before {
                        content:"\f005"  ;

                  }
                  &:hover{
                        transform: rotate(0deg) scale(1.2) ;
                  }
                
               
              }
           */
                 
      
      

		&__description {
            max-width: 484px;
            padding-top: 22px;
            font-size: 16px;
            line-height: 27px;
            color: #707070;
		}

           
                 

      
      
		&__quantity-number {
            padding-top: 48px;
		}
        
            &__button-counter {
                  padding-right: 23px;

            }

            &__button-add-to-cart {

                  width: 360px;
                  height: 53px;                  
                  background: #FFFFFF;                  
                  border: 1px solid #000000;
                  border-radius: 4px;
                  cursor: pointer;
            }
            &__button-add-to-cart span{
                  font-weight: 700;
                  font-size: 16px;
            }
            &__button-add-to-cart:hover {
                  background: #000000;                  
                  color:#FFFFFF;
            }
            &__button-add-to-cart:active {
                  cursor: not-allowed;
            }

                  

      

		&__social-list ul {
            display: flex;

            padding-top: 80px;
		}

		&__object-information  ul {
                  padding-top: 37px;
		}
}
.social-list  {
		&__item {
                  display: flex;
                  justify-content: center;
		}
            &__item span {
                  height: 19.5px;
                  border: 1px solid #D8D8D8;
                  margin-right: 39px;
		}

          
		&__icon {
            width: 18px;
            height: 18px;  
            color: #707070;   
            margin-right: 24px; 
		}

            &__icon:hover{
                  color: #A18A68;
            }
}

.object-information {
      width: 35px;
      height: 27px;
      font-size: 16px;
      line-height: 27px;
  

      &__list {
            font-weight: 400;
            font-size: 16px;
      }

      &__link {
            display: flex;
      }

      &__number {
            padding-left:16px ; 
            color: #707070;
   
      }

      &__link-number {
            padding-left:16px ; 
            color: #707070;      
      }
}


/*shoppe-body*/

.shoppe-body {
      margin-top: 100px;
      &__list {
            display: flex;
            text-align: start;

      }

      &__item {
            font-weight: 400;
            font-size: 20px;
            line-height: 26px;
            min-width: 193px;
            color: #707070;

      
      }
      &__link:hover{
            padding-bottom: 39px;
            border-bottom:1px solid #000000;      
            }

      &__selction-line {
            margin-top: 18px;
            margin-bottom: 60px;


            min-width: 1248px;            
            border: 1px solid #D8D8D8;

      }

      &__item-paragraph {
            max-width: 1248px;
            margin-top: 60px;
            font-weight: 400;
            font-size: 16px;
            color: #707070;
      }

      &__item-list {
            padding-top: 10px;
            font-weight: 400;
            font-size: 16px;
            color: #707070;
      }


      &__table {
            margin-top: 60px;
            font-weight: 400;
            font-size: 16px;
      }

      &__table-row-name {
            text-align: start;
            padding: 10px;
            color: #000000;
            max-width: 180px;
            font-weight: normal;
      }

      &__table-row-value {
            text-align: start;
            padding: 10px;
            color: #707070;
      }


}

/*shoppe-footer*/


.shoppe-footer {
margin-top: 100px;

      &__title {
      font-weight: 400;
      font-size: 26px;
      line-height: 35px;

      margin-bottom: 47px;
      }

      &__column-goods {
            display: flex;
            justify-content: space-between;
      }

      &__item {
      }

      &__goods-container {
            position: relative;
            width: 100%;
            overflow:hidden;

      }
      &__goods-container:hover &__overlay {
            opacity: 1;
          }

      &__img {
            
            display: block;
            width: 100%;
            height: auto;
            transition: all .2s;
            -o-transition: all .2s;
            -webkit-transition: all .2s;
            -moz-transition: all .2s;
            
      }
      &__img:hover {
            transform: scale(1.05);
            -o-transform: scale(1.05);
            -moz-transform: scale(1.05);
            -webkit-transform: scale(1.05);

      }

      &__overlay {
            position: absolute; 
            bottom: 0;
            background: rgba(255, 255, 255, 0.6); /* Black see-through */
            width: 100%;
            transition: .3s ease;
            opacity:0;
            color: rgb(0, 0, 0);
            font-size: 20px;
            font-weight: 800;
            padding: 20px;
            text-align: center;
            text-transform: uppercase;
      }
	
      &__name {
      font-weight: 400;
      font-size: 20px;
      line-height: 26px;
      margin-top: 24px;
      }

      &__price {
      font-weight: 500;
      font-size: 20px;
      line-height: 26px;
      text-transform: capitalize;
      color: #A18A68;
      margin-top: 20px;
      }
}
