


<main class="main">
    <section class="shope-header">
        <div class="box">
            <section class="shope-header-img-aside">
                <ul class="list-img">
                    <li list-img__item>
                        <a class="list-img__link" href="#" >
                            <img src="./assets/images/asideEarring.jpg" alt="golden round earrings">
                        </a>
                    </li>
                    <li list-img__item>
                        <a class="list-img__link" href="#" >
                            <img src="./assets/images/asideEarring.jpg" alt="golden round earrings">
                        </a>
                    </li>
                    <li list-img__item>
                        <a class="list-img__link" href="#" >
                            <img src="./assets/images/asideEarring.jpg" alt="golden round earrings">
                        </a>
                    </li>
                    <li list-img__item>
                        <a class="list-img__link" href="#" >
                            <img src="./assets/images/asideEarring.jpg" alt="golden round earrings">
                        </a>
                    </li>                 
                </ul>
            </section>


            <section class="shope-header-slider">
                <a class="shope-header-slider__link" href="#"> 
                 <img src="./assets/images/main_earring.jpg">
                </a>
            </section>

            <section class="shope-header-product">
                <section class="shope-header-product__container">
                    <article class="shope-header-product__info-headline-price">
                        <h3>Lira Earrings</h3>
                        <p>$ 20,00</p>
                    </article>
                    
                    <article class="shope-header-product__rating">
                            <span>1 customer review</span>
                    </article>

                    <article class="shope-header-product__description">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam placerat, augue a volutpat hendrerit, sapien tortor faucibus augue, a maximus elit ex vitae libero. Sed quis mauris eget arcu facilisis consequat sed eu felis. 
                        </p>
                    </article>

                    <article class="shope-header-product__quantity-number">
                        <button>1</button>
                        <button>ADD TO CART</button>
                    </article>

                    <article class="shope-header-product__social-list">
                            <ul>                           
                                <li class="social-list__item">
                                    <a href="">
                                      <mat-icon class="social-list__icon" svgIcon="like"></mat-icon>
                                    </a>
                                </li>
                               <li class="social-list__item">
                                    <span>|</span>
                                </li>
                             
                                <li class="social-list__item">
                                    <a href="">
                                      <mat-icon class="social-list__icon" svgIcon="email"></mat-icon>
                                    </a>
                                  </li>
                                <li class="social-list__item">
                                    <a href="">
                                      <mat-icon class="social-list__icon" svgIcon="facebook"></mat-icon>
                                    </a>
                                </li>
                                <li class="social-list__item">
                                  <a href="">
                                    <mat-icon class="social-list__icon" svgIcon="instagram"></mat-icon>
                                  </a>
                                </li>
                                <li class="social-list__item">
                                  <a href="">
                                    <mat-icon class="social-list__icon" svgIcon="twitter"></mat-icon>
                                  </a>
                                </li>
                              </ul>
                    </article>


                    <article class="shope-header-product__object-information">
                            <ul class="object-information__list">
                                <li class="object-information__link">
                                    <p>SKU:</p>
                                    <p>12</p>
                                </li>
                                <li class="object-information__link">
                                    <p>Categories:</p>
                                    <a href="#">Fashion Style</a>
                                </li>
                            </ul>
                    </article>
                </section>
            </section>

          </div>
    </section>
</main>